@font-face {
    font-family: coolGraffitiFont;
    src: url(headingFont2.ttf);
    font-size: x-large;
}

@font-face {
    font-family: numbers;
    src: url(headingFont2.ttf);
    font-size: x-large;
  }

:root {
    --coral: rgb(204, 48, 48) !important;
    --dark-coral: rgb(130, 27, 27);
}

.bigNav, .smallNav {
    width: 100vw !important;
    top: 0;
    margin: 0rem auto 0;
    padding: 0rem !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(0,0,0,0);
}

#bigNavItems {
    text-align: center !important;
    font-size: 1.7rem;
    padding: 1rem;
    white-space: nowrap;
    font-family: coolGraffitiFont, numbers;
    text-transform: uppercase;
}

.divider {
    padding: 0 0.5rem;
    color: rgba(0,0,0,0);
}

.titleimg {
    padding: 1rem;
    text-align: center;
    max-height: 15rem !important;
    mix-blend-mode: multiply;
}
.dropDownItems {
    font-size: 5rem;
    position: absolute;
    top: 10vh;
    width: 100vw! important;
    text-align: center;
}

#navContainer {
    overflow-x: hidden;
}

#navContainer a {
  text-decoration: none;
}
  
/* unvisited link */
#navContainer a:link, #navContainer a:visited {
    color: var(--coral);
}

/* mouse over link */
#navContainer a:hover {
    color: var(--dark-coral);
}

/* selected link */
a:active {
    color: #c1e3e9;
    text-decoration: italics;
}

.dropDown {
    height: 100vh;
}

.dropDownButton {
  background: var(--transparent);
  color: var(--coral);
  border: none;
  font-size: 5rem;
  position: absolute;
  margin: 0 !important;
  padding: 0rem !important;
  top: 4vh;
  right: 8vw;
}

.dropDownItem {
  font-family: coolGraffitiFont, numbers;
  font-size: 2.5rem;
  padding: 1rem 0rem !important;
  text-transform: uppercase;
}


@media screen and (max-width: 1000px) {
    .dropDownItem {
        font-family: coolGraffitiFont, numbers;
        font-size: 5rem;
        padding: 1rem 0rem !important;
        text-transform: uppercase;
      }
    }