@font-face {
    font-family: coolGraffitiFont;
    src: url(heading-font.ttf);
}

body {
    color: rgb(28, 22, 22);
    text-align: center;
    background-image:url(static/background1.png), url(static/background2.png);
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3vw; /* 3% viewport width */
    font-size: 2vw;
}

.enter {
  animation: movein 1s linear;
}

img {
  margin:auto;
  object-fit: contain;
  max-width: 80%;
  max-height: 40%;
}


h2 {
  font-size: 5.2vw;
  font-family: coolGraffitiFont;
  margin: 1vw 1vw 1vw 3vw;
  color: rgb(138, 33, 33);
  text-align: center;
  line-height: 5vw;
  padding: 2%;
}

h3 {
  font-size: 4vw;
  font-family: coolGraffitiFont;
  color:lightcoral;
  line-height: 4vw;
}

h3 span {
  padding: 1% 5%;
  margin: 4% 2%;
}

@media (min-width: 700px) {
  .columncontainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5%;
  }
}

/* button and code styling */
.button { 
  font-family: coolGraffitiFont;
  text-align:center;
  font-size: 3.2vw;
}

.button a {
  color:rgb(16, 66, 26);
}

a {
  text-decoration: none;
  color:rgb(43, 170, 43);
}

a:hover {
  color:rgb(36, 118, 36);
}

.subheading {
  padding: 3% 7% 3% 7%;
  margin: 1% 1% 1% 1%;  
  background-color: rgb(255, 255, 255);
}

.subheading div {
  line-height: 2.25vw;
  text-align: left;
}

li {
  text-align: left;
}

.words b {
  font-size: 120%;
  text-align: center;
}

iframe {
  display:block;
  margin:auto;
  width: 100%;
}