@font-face {
    font-family: coolGraffitiFont;
    src: url(heading-font.ttf);
}

body {
    color: rgb(16, 66, 26);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3vw; /* 3% viewport width */
    font-size: 1.7vw;
}

.enter {
  animation: movein 1s linear;
}

img {
  margin:auto;
  object-fit: contain;
  max-height: 30vh;
}


h2 {
  font-size: 4vw;
  font-family: coolGraffitiFont;
  margin: 1vw 1vw 1vw 3vw;
  color:rgb(16, 66, 26);
  text-align: center;
}

h3 {
  font-size: 3vw;
  font-family: coolGraffitiFont;
  color:lightcoral;
}

h3 span {
  padding: 1% 5%;
  margin: 4% 2%;
}

.columncontainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 3%;
  background:linear-gradient(rgba(8, 74, 24, 0.547),rgba(8, 74, 24, 0.617)) center/2px 100% no-repeat;
}

/* button and code styling */
.button { 
  font-family: coolGraffitiFont;
  zoom: 1.3;
  text-align:center;
}

.button a {
  color:rgb(16, 66, 26);
}

a {
  text-decoration: none;
  color:rgb(68, 185, 68);
}

a:hover {
  color:rgb(119, 197, 119);
}

.subheading {
  padding: 3% 4%;
  margin: 1% 1% 1% 1%;
}

.subheading div {
  line-height: 2.25vw;
  text-align: left;
}

li {
  text-align: left;
}

.words b {
  font-size: 120%;
  text-align: center;
}

iframe {
  display:block;
  margin:auto;
  width: 100%;
}

.photonextcontainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 3%;
}