@font-face {
    font-family: coolGraffitiFont;
    src: url(heading-font.ttf);
}

body {
    color: #00346e;
    background-image:url(TBBlogo.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 90px;
    background-blend-mode:soft-light;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link {
    color: hotpink;
}

h1 {
    text-align: center;
    font-size: 4vh;
    font-family: coolGraffitiFont;
    color:#00346e;
}

h2 {
    text-align: center;
    font-size: 4vh;
    font-family: coolGraffitiFont;
    color:#00346e;
}
h3 {
    text-align: center;
    font-size: 4vh;
    font-family: coolGraffitiFont;
    color:#00346e;
}


.main-container h3 {
    text-align: center;
    font-size: 3vh;
    font-family: coolGraffitiFont;
    color:#00346e;
}

/* button and code styling */
.main-container .unlock { 
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  padding: 1vh 1vh;
  text-align: center;
  display: inline-block;
  font-size: 2.1vh;
  border-radius: 5vw;
  border: 1px solid white;
  box-shadow: 0.3em 0.3em 1em rgb(0 200 0 / 30%);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-container {
  width: 80vw;
  padding: 0vw 5vw 5vw 3vw;
  margin: 5vw 0vw 0vw 5vw;
  border-style:hidden;
  border-radius: 7vw;
  font-size: 2vh;
}

hr {
  border: 0.8px solid white;
}

.enter {
  animation: movein 1s linear;
}
