@font-face {
    font-family: coolGraffitiFont;
    src: url(heading-font.ttf);
}

body {
    color: #151e15;
    background-image:url(background1.png),url(background2-adjusted.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode:soft-light;
    background-color: #edc8c899;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-title h1 {
    text-align: center;
    font-size: 8vh;
    font-family: coolGraffitiFont;
    color:#2a642a;
}

.main-container h3 {
    text-align: center;
    font-size: 6vh;
    font-family: coolGraffitiFont;
    color:#173b17;
}

.main-container button {
  background-color: #086e06;
  border: none;
  color: white;
  padding: 3vw 3vw;
  text-align: center;
  display: inline-block;
  font-size: 3vh;
  border-radius:5vw;
  box-shadow: 
    inset 0 -3em 3em rgba(187, 175, 175, 0.666),
    0.3em 0.3em 1em rgb(0 200 0 / 30%);
}

.main-container {
  width: 85vw;
  padding: 3vw 5vw 5vw 3vw;
  margin: 3vw 0vw 3vw 3vw;
  background-color: #dbd1cba2;
  border-style:hidden;
  border-radius: 7vw;
  box-shadow: 
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
  font-size: 3vh;
}